{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10">
				<div class="text-center m-5">
					<h1>Modifier mon profil</h1>
				</div>

				<div class="card shadow-sm">
					<div class="card-body p-4">
						{{ form_errors(editProfilForm) }}

						{{ form_start(editProfilForm) }}

						{{ form_row(editProfilForm.lastname) }}
						{{ form_row(editProfilForm.firstname) }}
						{{ form_row(editProfilForm.nickname) }}
						{{ form_row(editProfilForm.email) }}
						{{ form_row(editProfilForm.photo) }}

						<button type="submit" class="button-purple btn mt-4">Modifier</button>
						{{ form_end(editProfilForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
