{% extends 'base.html.twig' %}

{% block title %}Vos articles
{% endblock %}

{% block body %}
	<h1 class="text-purple text-center m-5">Vos articles</h1>

	<button type="button" class="button-purple btn mx-4 mb-4">
		<a href="{{ path('app_post_new') }}" class="btn btn-lg categorie text-white">Créer un nouvel article
			<i class="bi bi-arrow-right"></i>
		</a>
	</button>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Slug</th>
				<th>Content</th>
				<th>Image</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>{{ post.id }}</td>
					<td>{{ post.title }}</td>
					<td>{{ post.slug }}</td>
					<td>{{ post.content }}</td>
					<td>{{ post.image }}</td>
					<td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_post_show', {'id': post.id}) }}" type="button" class="btn btn-dark btn-sm">Voir</a>
						<a href="{{ path('app_post_edit', {'id': post.id}) }}" type="button" class="btn btn-warning btn-sm mt-4">Modifier</a>

						{# Formulaire de suppression avec CSRF #}
						<form method="post" action="{{ path('app_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="d-inline">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
							<button type="submit" class="btn btn-danger btn-sm mt-4">Supprimer</button>
						</form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# <button type="button" class="button-purple btn">
							<a href="{{ path('app_post_new') }}" class="btn btn-lg categorie text-white">Créer un nouvel article
								<i class="bi bi-arrow-right"></i>
							</a>
						</button> #}

{% endblock %}
