{{ form_errors(postForm) }}

{# {{ form_start(postForm) }} #}

{# {{ form_row(postForm.categorie) }} #}

{# {{ form_end(postForm) }} #}
	<form name="post_form" method="post" enctype="multipart/form-data"> {{ form_row(postForm.title) }}
	{{ form_row(postForm.content) }}
	{{ form_row(postForm.categorie) }}
	<div>
		<label for="post_form_image">
			Veuillez choisir des fichiers images uniquement</label>
		<input type="file" id="post_form_image" name="post_form[image]"/>
	</div>
	<div>
		<button type="submit" id="post_form_submit" name="post_form[submit]" class="btn btn-dark mt-4">Valider</button>
	</div>
	<input type="hidden" id="post_form__token" name="post_form[_token]" data-controller="csrf-protection" value="csrf-token"/>
</form>
{# {{ form_end(postForm) }} #}
